apiVersion: v1
data:
  BIGSI_CONFIG: "/etc/bigsi/conf/config.yaml"
kind: ConfigMap
metadata:
  name: bigsi-1-env
---
apiVersion: v1
data:
  config.yaml: |-
    h: 1
    k: 31
    m: 10000
    nproc: 1
    storage-engine: berkeleydb
    storage-config:
      filename: /data/test-bigsi-bdb
      flag: "c" ## Change to 'r' for read-only access
kind: ConfigMap
metadata:
  name: bigsi-1-config
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: bigsi-1-deployment
  labels:
    app: bigsi-1  
    tier: front    
spec:
  selector:
    matchLabels:
      app: bigsi-1
  template:
    metadata:
      labels:
        app: bigsi-1  
    spec:    
      volumes:
        - name: pv-storage-for-bigsi-1
          persistentVolumeClaim:
           claimName: pv-claim-for-bigsi-1  
        - name: configmap-volume
          configMap:
            name: bigsi-1-config              
      containers:
      - name: bigsi-1
        image: phelimb/bigsi
        command: ["/bin/sh"]
        args: ["-c","uwsgi --enable-threads --http 0.0.0.0:8001 --wsgi-file bigsi/__main__.py --callable __hug_wsgi__ --processes=4 --buffer-size=32768 --harakiri=300000"]
        ports:
          - containerPort: 8001
        volumeMounts:
          - mountPath: "/data/"
            name: pv-storage-for-bigsi-1
          - mountPath: /etc/bigsi/conf/
            name: configmap-volume  
        envFrom:
          - configMapRef:
              name: bigsi-1-env                         
---
apiVersion: v1
kind: Service
metadata:
  name: bigsi-1-service
  labels:
    app: bigsi-1
spec:
  type: NodePort
  ports:
  - port: 8001
    targetPort: 8001
  selector:
    app: bigsi-1


